<div class="page-container" data-controller="newinvoice" >
  <div class="filter-container-invoice">
    <div class="filter-container-invoice-left">
      <h1>Generate invoice</h1>
    </div>
    <div class="filter-container-invoice-right" >
      <ul>
        <li><i class="fa-solid fa-1 text-primary"></i><p class="text-primary">Client info</p></li>
        <li><i class="fa-solid fa-2" data-newinvoice-target="changeBlue"></i><p data-newinvoice-target="changeBlueAlso">Availability</p></li>
        <li><i class="fa-solid fa-3"></i><p>Invoice</p></li>
      </ul>
    </div>
  </div>
  <div data-controller="newinvoice">
    <%= simple_form_for [@invoice], data:{turbo: false} do |i| %>
    <div>
      <div data-newinvoice-target="questionOne" >
        <%= i.input :client_id, collection: current_user.clients.map { |client| [client.id, "#{client.first_name} #{client.last_name}"]}, label_method: :second, value_method: :first, selected: @client.id, include_blank: false, prompt: "New", input_html: {data: {newinvoice_target: "inputForm", action: "change->newinvoice#showNewClientFormInvoice"} }%>
        <%= i.simple_fields_for :clients do |client| %>
            <div class="invoice-client-container" data-newinvoice-target="newClientForm">
              <div>
                <%= client.input :company, placeholder: @client.company %>
                <%= client.input :first_name %>
              </div>
              <div>
                <%= client.input :last_name, placeholder: @client.last_name %>
                <%= client.input :phone_number %>
              </div>
              <div>
                <%= client.input :email %>
              </div>
            </div>
        <% end %>
        <button type="button" data-action="click->newinvoice#revealQuestionTwo" class="btn btn-primary"> Next </button>
      </div>
      <div class="spots-to-rent">
        <div data-newinvoice-target="questionTwo" data-controller="invoice" class="row">
          <div class="col-6 invoice-left">
            <h4><strong>Which spots would you like to rent out?</strong></h4>
            <br>
            <h5><strong>Select a lot</strong></h5>
            <br>
              <%= select_tag :garage, options_from_collection_for_select(@garages, :id, :location, selected: params[:garage_id]), data:{action: "change->invoice#filterGarage", invoice_target:"garage"}%>
            <br>
            <br>
            <h5><strong>Booking period</strong></h5>
              <br>
            <div class="invoice-client-container">
              <%= i.input :start_date, as: :string, input_html: { data: { controller: "flatpickr", action:"change->invoice#filterDates", invoice_target:"startDate" } }  %>
              <%= i.input :end_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
            </div>
          <div>
            <%= i.submit(class: "btn btn-primary") %>
           </div>
          </div>
          <div class="col-6 invoice-right">
            <div data-invoice-target="spaces"class="spaces-right">
            </div>
            <div class="total-price flex-end">
              <h5>Total<span data-invoice-target="price"></span>€</h5>
            </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
