<div>
  <h1>Select or create a client</h1>
  <%= simple_form_for @invoice do |i| %>
    <%= i.association :client %>
    <%= i.simple_fields_for :clients do |client| %>
      <%= client.input :first_name %>
      <%= client.input :last_name %>
      <%= client.input :phone_number %>
      <%= client.input :email %>
      <%= client.input :company %>
    <% end %>
    <div data-controller="invoice">
      <%= select_tag :garage, options_from_collection_for_select(@garages, :id, :location), data:{action: "change->invoice#filterGarage"}%>
      <%= i.input :start_date, as: :string, input_html: { data: { controller: "flatpickr" } }  %>
      <%= i.input :end_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
      <div data-invoice-target="spaces">
        <% ParkingSpace.all.each do |e| %>
        <% e.garage.price = 20 %>
        <div data-invoice-target="checkbox" style="display: none;" data-garageid=<%= e.garage.id%>>
          <%= label_tag  "parking_space[]", e.id %>
          <%= check_box_tag "parking_space[]", e.id, false, multiple: true, data: {action: "change->invoice#previewPrice", price: e.garage.price.to_i } %>
        </div>
        <% end %>
      </div>
      <div>Total<span data-invoice-target="price"></span>€</div>
    </div>
    <%= i.submit %>
  <% end %>
</div>
