<div class="main-page-container">

  <div class="filter-container-invoice">
      <div class="filter-container-invoice-left">
        <h1>Invoice ID#<%= @invoice.id %></h1>
      </div>
      <div class="filter-container-invoice-right">
        <ul>
          <li><i class="fa-solid fa-1"></i><p>Client info</p></li>
          <li><i class="fa-solid fa-2"></i><p>Availability</p></li>
          <li><i class="fa-solid fa-3 text-primary"></i><p class="text-primary">Invoice</p></li>
        </ul>
      </div>
    </div>

  <div class="invoice-page-container">

  <div class="client-info-container">
    <h4><strong>Client: </strong><%= @invoice.client.first_name+" "+@invoice.client.last_name%></h4>
    <h4><strong>Company: </strong><%= @invoice.client.company %></h4>
    <h4><strong>Phone: </strong><%= @invoice.client.phone_number %></h4>
    <h4><strong>Email: </strong><%= @invoice.client.email %></h4>
  </div>


  <div class="booking-details-container">

    <div class="details-row-container">
      <h3><strong>Booking period:</strong></h3>
      <p>From: <%= @invoice.start_date %></p>
      <p>To: <%= @invoice.end_date %></p>
      <p>Number of days: <%= (@invoice.end_date - @invoice.start_date).to_i + 1 %></p>
      
    </div>
    
    <div class="details-row-container">
      <h3><strong>Parking spaces rented:</strong></h3>
      <% @invoice.parking_spaces.each do |space| %>
      <p>Lot #<%= space.id %></p>
      <% end %>
    </div>

    <div class="details-row-container">

    <h3><strong>Garage:</strong></h3>
    <p><%= @garage.location+" - "+@garage.name %></p>
    </div>

    <div class="line-3"></div>

    <div class="details-row-container">
      <h3><strong class="price-container">Total price: <%= @invoice.price %> €</strong></h3>
    </div>

  </div>

  </div>
</div>
