<div class="page-container">
  <div class="show-filter-container" data-controller="datetoggle">
    <%= form_with url: garage_path(@garage), method: :get, html:{data:{datetoggle_target:"form"}} do |f| %>
    <%= f.date_field :date, label: false, data:{format:"MMMM DD YYYY", datetoggle_target: "calendar", action:"change->datetoggle#formatDate", date:"", toggle: :submit}, value:(params[:date] ? params[:date] : Date.today) %>
    <%= f.submit "", class: "d-none" %>
    <% end %>
  </div>
  <div class="show-status-container">
    <ul class="show-status-navbar">
      <div class="dropdown">
        <a class="dropdown-btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-square-parking"></i><%= @garage.location %>&nbsp &nbsp<i class="fa-solid fa-bars"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% @garages.each do |garage| %>
            <li><%= link_to garage.location, garage_path(garage), class: "dropdown-item" %></li>
          <% end %>
        </ul>
      </div>
      <li><i class="fa-solid fa-circle" style="color: #FF6565"></i>occupied</li>
      <li><i class="fa-solid fa-circle" style="color: #70D159"></i>available</li>
      <li><i class="fa-solid fa-circle" style="color: #FFC400"></i>soon available</li>
      <%= link_to "", new_garage_path, class:"fa-solid fa-plus" %>
      <%= link_to "", edit_garage_path, class:"fa-sharp fa-solid fa-gear" %>
    </ul>
  </div>
  <div class="show-grid-holder" data-controller="quickinvoice">
    <div class="show-grid", style="grid-template-columns: <%= set_columns(@parking_spaces.count)%>">
      <% counter = 1 %>
      <% @parking_spaces.each do |space|%>
        <% date = params[:date] ? Date.parse(params[:date]) : Date.today %>
        <% if space.unavailable?(date) %>
          <% client = space.invoices.find{|invoice|invoice.end_date >= date }.try(:client) %>
          <% invoice = space.invoices.find{|invoice|invoice.end_date >= date } %>
        <% end %>
        <div data-quickinvoice-target="gridElement" class="show-parking-spaces <%= space.unavailable?(date) ? "red" : "green"%>" data-lastname= <%= client.try(:last_name) %> data-counter= <%= counter %> data-email= <%= client.try(:email)%> data-enddate=<%= invoice.try(:end_date)%>>
          <div class="show-grid-title">
            <div class="space-id"> # <%= counter %></div>
            <div class="quickinvoice-btn" data-quickinvoice-target="invoiceBtn">
              <%= link_to "", new_invoice_path(parking_space_id: space.id, garage_id: space.garage.id), class:"fa-solid fa-plus fa-lg icon-white"%>
            </div>
          </div>
        </div>
        <% counter += 1 %>
      <% end %>
    </div>
  </div>
