<div class="page-container">
  <div class="filter-container">
    <%= form_with url: garage_path(@garage), method: :get do |f| %>
    <%= f.date_field :date, label: false %>
    <%= f.submit %>
    <% end %>
  </div>
  <div class="status-container">
    <ul class="status-navbar">
      <div class="dropdown">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Garages
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% @garages.each do |garage| %>
            <li><%= link_to garage.location, garage_path(garage), class: "dropdown-item" %></li>
          <% end %>
        </ul>
      </div>
      <li><i class="fa-solid fa-circle" style="color: #FF6565"></i>occupied</li>
      <li><i class="fa-solid fa-circle" style="color: #70D159"></i>available</li>
      <li><i class="fa-solid fa-circle" style="color: #FFC400"></i>soon available</li>
      <%= link_to "", new_garage_path, class:"fa-solid fa-plus" %>
      <%= link_to "", garages_path, class:"fa-sharp fa-solid fa-gear" %>
    </ul>
  </div>
  <%= params[:date] %>
  <div class="grid-holder">
    <div class="grid", style="grid-template-columns: <%= set_columns(@parking_spaces.count)%>">
      <% @parking_spaces.each do |space|%>
        <% date = params[:date] ? Date.parse(params[:date]) : Date.today %>
        <div class="parking-spaces <%= space.unavailable?(date) ? "red" : "green" %>">
          <div class="grid-title">
            <div class="space-id"><%= space.id %></div>
            <div class="link-client-id">
              <%= link_to "view details", clients_path %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
