<div class="page-container">
  <div class="show-filter-container" data-controller="datetoggle">
    <%= form_with url: garage_path(@garage), method: :get, html:{data:{datetoggle_target:"form"}} do |f| %>
    <%= f.date_field :date, label: false, data:{format:"MMMM DD YYYY", datetoggle_target: "calendar", action:"change->datetoggle#formatDate", date:"", toggle: :submit}, value:(params[:date] ? params[:date] : Date.today) %>
    <%= f.submit "", class: "d-none" %>
    <% end %>
  </div>
  <div class="show-status-container">
    <ul class="show-status-navbar">
      <div class="dropdown">
        <a class="dropdown-btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <%# My lots ▼ %>
          <%= @garage.location %> <i class="fa-solid fa-bars"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% @garages.each do |garage| %>
            <li><%= link_to garage.location, garage_path(garage), class: "dropdown-item" %></li>
          <% end %>
        </ul>
      </div>
      <li><i class="fa-solid fa-circle" style="color: #FF6565"></i>occupied</li>
      <li><i class="fa-solid fa-circle" style="color: #70D159"></i>available</li>
      <li><i class="fa-solid fa-circle" style="color: #FFC400"></i>soon available</li>
      <%= link_to "", new_garage_path, class:"fa-solid fa-plus" %>
      <%= link_to "", garages_path, class:"fa-sharp fa-solid fa-gear" %>
    </ul>
  </div>
  <div class="show-grid-holder">
    <div class="show-grid", style="grid-template-columns: <%= set_columns(@parking_spaces.count)%>">
      <% @parking_spaces.each do |space|%>
        <% date = params[:date] ? Date.parse(params[:date]) : Date.today %>
        <div class="show-parking-spaces <%= space.unavailable?(date) ? "red" : "green"%>">
          <div class="show-grid-title">
            <div class="space-id"><%= space.id %></div>
            <div class="create-new"></div>
            <div class="link-client-id">
              <%= link_to "view details", clients_path %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
