<%#= link_to "Sign out", destroy_user_session_path, :method => :delete %>

<div class="container-dashboard" >
  <button data-toggle-target="button" class="icon" data-action="click->toggle#menu">spaceR</button>
  <!--this is the big menu---->
  <div class="navigation-dashboard" data-toggle-target="menu">
    <ul>
      <li>
        <%# <a href="#" >
          <!---span class="icon" data-action="click->toggle#menu"><i class="fa-regular fa-bars"></i></span-->
          <span class="title">Spacer</span>
        </a> %>
      </li>
      <li>
        <%= link_to dashboards_path, data: {turbo_method: :get} do %>
          <span class="icon"><i class="fa-solid fa-house"></i></span>
          <span class="title">Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to garage_path(current_user.garages.ids.last), data: {turbo_method: :get} do %>
          <span class="icon"><i class="fa-regular fa-table-cells"></i></span>
          <span class="title">Lot View</span>
          <% end %>
      </li>
      <li>
          <%= link_to clients_path, data: {turbo_method: :get} do  %>
          <span class="icon"><i class="fa-solid fa-people-group"></i></span>
          <span class="title">My Clients</span>
          <% end %>
      </li>
      <li>
          <%= link_to new_invoice_path, data: {turbo_method: :get} do  %>
          <span class="icon"><i class="fa-regular fa-file-invoice"></i></span>
          <span class="title">Invoicing</span>
          <% end %>
      </li>
      <!---down here link to the settings....--->
          <li>
          <%= link_to edit_user_registration_path, data: {turbo_method: :get} do %>
          <span class="icon"><i class="fa-solid fa-gear"></i></span>
          <span class="title">Settings</span>
        <% end %>
      </li>
      <li>
      <!---how to fix this link--->
          <%# <%= current_user %>
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
          <span class="icon"><i class="fa-regular fa-arrow-right-from-bracket"></i></span>
          <span class="title">Log Out</span>
        <% end %>
      </li>
    </ul>
    </div>
  </div>








  <!--this is the collapsed menu---->
    <div class="navigation-dashboard-toggled" data-toggle-target="menutoggled">
    <ul>
      <li>
          <!---span class="icon" data-action="click->toggle#menu"><i class="fa-regular fa-bars"></i></span-->
          <%# <span class="title">Spacer</span> %>
      </li>
      <li>
        <%= link_to dashboards_path, data: {turbo_method: :get} do %>
          <span class="icon"><i class="fa-solid fa-house"></i></span>
          <!---span class="title">Dashboard</span-->
        <% end %>
      </li>
      <li>
          <%= link_to garage_path(current_user.garages.ids.last), data: {turbo_method: :get} do %>
          <span class="icon"><i class="fa-regular fa-table-cells"></i></span>
          <!--span class="title">Parking View</span-->
          <% end %>
      </li>
      <li>
        <%= link_to clients_path, data: {turbo_method: :get} do  %>
          <span class="icon"><i class="fa-solid fa-people-group"></i></span>
          <!---span class="title">My Clients</span-->
        <% end %>
      </li>
      <li>
        <%= link_to new_invoice_path, data: {turbo_method: :get} do  %>
          <span class="icon"><i class="fa-regular fa-file-invoice"></i></span>
          <!---span class="title">Invoicing</span--->
        <% end %>
      </li>
      <li>
        <%= link_to edit_user_registration_path, data: {turbo_method: :get} do %>
          <span class="icon"><i class="fa-solid fa-gear"></i></span>
          <!---span class="title">Settings</span-->
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
          <span class="icon"><i class="fa-regular fa-arrow-right-from-bracket"></i></span>
          <!---span class="title">Log Out</span--->
        <% end %>
      </li>
    </ul>
</div>
