<%#= link_to "Sign out", destroy_user_session_path, :method => :delete %>

<div class="container-dashboard" >
  <button data-toggle-target="button" class="icon" data-action="click->toggle#menu"><%= image_tag("favicon.png", width:"40px") %></button>
  <!--this is the big menu---->
  <div class="navigation-dashboard" data-toggle-target="menu">
    <ul>
      <li>
        <%# <a href="#" >
          <!---span class="icon" data-action="click->toggle#menu"><i class="fa-regular fa-bars"></i></span-->
          <span class="title">Spacer</span>
        </a> %>
      </li>
      <li class="<%='active-tab' if controller_name == 'dashboards'%>">
        <%= link_to dashboards_path, data: {turbo_method: :get} do %>
          <span class="icon"><i class="fa-solid fa-house"></i></span>
          <span class="title">Dashboard</span>
        <% end %>
      </li>
      <li class="<%='active-tab' if controller_name == 'garages'%>">
        <% if user_signed_in? && current_user.garages.empty? %>
          <%= link_to new_garage_path, data: {turbo_method: :get} do %>
            <span class="icon"><i class="fa-sharp fa-solid fa-border-all"></i></span>
            <span class="title">Lot View</span>
          <% end %>
          <% else %>
          <%= link_to garage_path(current_user.garages.last), data: {turbo_method: :get} do %>
            <span class="icon"><i class="fa-sharp fa-solid fa-border-all"></i></span>
            <span class="title">Lot View</span>
          <% end %>
        <% end %>
      </li>
      <li class="<%='active-tab' if controller_name == 'clients'%>">
        <%= link_to clients_path, data: {turbo_method: :get} do  %>
          <span class="icon"><i class="fa-solid fa-people-group"></i></span>
          <span class="title">My Clients</span>
        <% end %>
      </li>
      <li class="<%='active-tab' if controller_name == 'invoices'%>">
        <%= link_to new_invoice_path, data: {turbo_method: :get} do  %>
          <span class="icon"><i class="fa-solid fa-file-invoice-dollar"></i></span>
          <span class="title">Invoicing</span>
        <% end %>
      </li>
      <li class="<%='active-tab' if controller_name == 'registrations'%>">
        <%= link_to edit_user_registration_path, data: {turbo_method: :get} do %>
          <span class="icon"><i class="fa-solid fa-gear"></i></span>
          <span class="title">Settings</span>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
          <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
          <span class="title">Log Out</span>
        <% end %>
      </li>
    </ul>
    </div>
  </div>








  <!--this is the collapsed menu---->
    <div class="navigation-dashboard-toggled" data-toggle-target="menutoggled">
    <ul>
      <li>
          <!---span class="icon" data-action="click->toggle#menu"><i class="fa-regular fa-bars"></i></span-->
          <%# <span class="title">Spacer</span> %>
      </li>
      <li class="<%='active-tab' if controller_name == 'dashboards'%>">
        <%= link_to dashboards_path, data: {turbo_method: :get} do %>
          <span class="icon"><i class="fa-solid fa-house"></i></span>
          <!---span class="title">Dashboard</span-->
        <% end %>
      </li>
      <li class="<%='active-tab' if controller_name == 'garages'%>">
        <% if user_signed_in? && current_user.garages.empty? %>
          <%= link_to new_garage_path, data: {turbo_method: :get} do %>
          <span class="icon"><i class="fa-sharp fa-solid fa-border-all"></i></span>
          <span class="title">Lot View</span>
          <% end %>
          <% else %>
          <%= link_to garage_path(current_user.garages.last), data: {turbo_method: :get} do %>
          <span class="icon"><i class="fa-sharp fa-solid fa-border-all"></i></span>
          <span class="title">Lot View</span>
          <% end %>
        <% end %>
      </li>
      <li class="<%='active-tab' if controller_name == 'clients'%>">
        <%= link_to clients_path, data: {turbo_method: :get} do  %>
          <span class="icon"><i class="fa-solid fa-people-group"></i></span>
          <!---span class="title">My Clients</span-->
        <% end %>
      </li>
      <li class="<%='active-tab' if controller_name == 'invoices'%>">
        <%= link_to new_invoice_path, data: {turbo_method: :get} do  %>
          <span class="icon"><i class="fa-solid fa-file-invoice-dollar"></i></span>
          <!---span class="title">Invoicing</span--->
        <% end %>
      </li>
      <li class="<%='active-tab' if controller_name == 'registrations'%>">
        <%= link_to edit_user_registration_path, data: {turbo_method: :get} do %>
          <span class="icon"><i class="fa-solid fa-gear"></i></span>
          <!---span class="title">Settings</span-->
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
          <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
          <!---span class="title">Log Out</span--->
        <% end %>
      </li>
    </ul>
</div>
