<div class="main-clients-container">
   <header class="clients-header">
      <h1 class="number"><%= "Client"%></h1>
      <i class="zmdi zmdi-download"></i>
  </header>

  <div class="container-client-info"> <!---This div contains the general infos about client--->
    <div class="item-client-table">
      <table class="text-infos-client">
        <tr>
          <td><i class="fa-solid fa-id-card icon-grey-client-show"></i>&nbsp</td>
          <td>&nbsp<%= "#{@client.first_name} #{@client.last_name}"%></td>
        </tr>
        <tr>
          <td><i class="fa-solid fa-industry icon-grey-client-show"></i>&nbsp</td>
          <td>&nbsp<%= @client.company %></td>
        </tr>
        <tr>
          <td><i class="fa-solid fa-phone icon-grey-client-show"></i>&nbsp</td>
          <td>&nbsp<%= @client.phone_number %></td>
        </tr>
        <tr>
          <td><i class="fa-solid fa-envelope icon-grey-client-show"></i>&nbsp</td>
          <td>&nbsp<%= @client.email %></td>
        </tr>
      </table>
    </div>
    <div class="client-info-buttons">
      <%= link_to "Edit", edit_client_path(@client), class: "btn btn-primary"%>
      <%= link_to "Contact", edit_client_path(@client), class: "btn btn-primary"%>
    </div>
  </div>


  <div> <!---This div contains the activ invoices--->
    <table class="table sortable">
        <thead>
          <tr>
            <th class="table-headers-dark-grey">Invoice-ID</th>
            <th class="table-headers-dark-grey">Start date</th>
            <th class="table-headers-dark-grey">End date</th>
            <th class="table-headers-dark-grey">Price</th>
            <th class="table-headers-dark-grey">Payment confirmed</th>
            <th class="table-headers-dark-grey">Status</th>
            <th class="table-headers-dark-grey"></th>
          </tr>
        </thead>
        <tbody>
          <%# current_invoices_client = @client.invoices.select { |invoice| invoice.end_date.after?(Date.today) && invoice.start_date.before?(Date.today)} %>
          <%# future_invoices_client = @client.invoices.select { |invoice| invoice.end_date.after?(Date.today) && invoice.start_date.before?(Date.today)} %>
          <%# past_invoices_client = @client.invoices.select { |invoice| invoice.end_date.after?(Date.today) && invoice.start_date.before?(Date.today)} %>

          <% @client.invoices.order("end_date DESC, start_date").each do |invoice| %>
            <tr class="table-cells-dark-grey">
              <td><%= invoice.id%></td>
              <td><%= invoice.start_date %></td>
              <td><%= invoice.end_date %></td>
              <td><%= invoice.price.to_i %>€</td>
              <td class="table-align-center "><%= invoice.payment_confirmed %></td>
              <!--below the td should vary depending on the status-->
              <% if invoice.end_date.after?(Date.today) && invoice.start_date.before?(Date.today) %>
                <td class="text-activ">Current</td>
                <% elsif invoice.end_date.after?(Date.today) && invoice.start_date.after?(Date.today) %>
                <td class="text-future">Upcoming</i></td>
                <% elsif invoice.end_date.before?(Date.today) && invoice.start_date.before?(Date.today) %>
                <td class="text-past">Prior</td>
              <% end %>
              <!--below is the delete function for each invoice-->
              <td class="text table-align-center ">
                <%= link_to invoice_path(invoice.id, client_id: @client.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete this invoice?"} do %>
                  <i class="fa-solid fa-trash icon-grey-client-show"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>

  <div class="buttons-container-client"> <!---This div contains the action buttons--->
    <div class="new-invoice-button">
      <p><%= link_to "Back to clients", clients_path, class: "btn btn-primary" %></p>
    </div>
    <div class="back-button">
      <p><%= link_to "New invoice", new_client_invoice_path(@client.id) , class: "btn btn-primary"%></p>
    </div>
  </div>
</div>
