
<!---<%= Time.now.strftime("%m/%d/%Y") %>---->
<div class="dash-main-container">


  <div class="upper-container-for-numbers">
    <div class="upper-container-items">
      <p class="number"><%= @sum %>&nbsp <i class="fa-sharp fa-solid fa-euro-sign icon-dashboard"></i></p><p class="text">Total earnings</p>
    </div>
    <div class="upper-container-items">
      <p class="number"> <%= @number_of_garages %>&nbsp  <i class="fa-solid fa-house icon-dashboard"></i></p><p class="text">Number of garages</p>
    </div>
    <div class="upper-container-items">
     <p class="number"><%= @number_of_parking_spaces %>&nbsp  <i class="fa-solid fa-clone icon-dashboard"></i></p><p class="text">Number of parkingspaces</p>
    </div>
    <div class="upper-container-items">
       <p class="number"><%= @number_of_clients %>&nbsp  <i class="fa-solid fa-people-group icon-dashboard"></i></p><p class="text">Number of clients</p>
    </div>
    <div class="upper-container-items">
      <p class="number"><%= @invoices_aktiv.count %>&nbsp  <i class="fa-solid fa-file-invoice icon-dashboard"></i></p><p class="text">Activ invoices</p>
    </div>
  </div>

  <!---->

  <div class="bottom-container d-flex justify-content-between align-items-start">
    <div class="bottom-container-left">
      <h3 class="number">Active Invoices</h3>
      <table class="table">
        <thead>
          <tr>
          <th class="text-headers">Name</th>
          <th class="text-headers">Start date</th>
          <th class="text-headers">End date</th>
          <th class="text-headers">Price</th>
          <th class="text-headers">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @invoices_aktiv.each do |invoice| %>
            <tr>
            <td class="text"><%= "#{invoice.client.first_name} #{invoice.client.last_name}" %></td>
            <td class="text"><%= invoice.start_date %></td>
            <td class="text"><%= invoice.start_date %></td>
            <td class="text"><%= invoice.price %></td>
            <td class="paid-text">Paid</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

<%# in case we want to most recent customers to dashboard view %>

    <!---->
    <%# <div class="bottom-container-right">
      <h3 class="number">Recent clients</h3>
      <table class="table">
        <thead>
          <tr>
          <th class="text-headers">Name</th>
          <th class="text-headers">Company</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
            <%# <tr> %>
            <%# <td class="text"><%= "#{client.first_name} #{client.last_name}"</td> %>
            <%# <td class="text"><%= client.company</td> %>
            <%# </tr> %>
          <%# <% end %>
        <%# </tbody> %>
      <%# </table> %>
    <%# </div> %>

    <div class="chart">
      <%= line_chart Client.group_by_day(:created_at).count %>
    </div>

    <%# <div class="chart">
      <%= pie_chart Client.group(:company).count %>
    <%# </div> %>
  </div>
</div>








  <!---below div for garages infos--->
  <!----div>
    <h2>Number of garages: <%= @number_of_garages %> </h2>
    <h2>Your garages:</h2>
    <% @garages.each do |garage| %>
        <%= garage.name %>
        <%= garage.location %>
    <% end %>
  </div>

  <div>
    <h2>Number of parkingspaces: <%= @number_of_parking_spaces %></h2>
    <h2>Your parkingspaces:</h2>
    <% @parking_spaces.each do |parkingspace| %>
      <%= parkingspace.title %>
    <% end %>
  </div>

  <div>
      <h2>Number of clients: <%= @number_of_clients %></h2>
      <h2>Your clients:</h2>
      <% @clients.each do |client| %>
         <%= client.first_name %>
      <% end %>
  </div>

   <div>

      <h2>Total invoices: <%= @number_of_invoices_total %></h2>

      <h2>Aktiv invoices: <%= @invoices_aktiv.count %></h2>
      <% @invoices_aktiv.each do |invoice| %>
        <p><%= invoice.start_date %></p>
        <p><%= invoice.end_date %></p>
        <p><%= invoice.price %></p>
        <p><%= invoice.payment_confirmed %></p>
      <% end %>
   </div>

   <div>
     <h2>Total income: <%= @sum %>$</h2>
   </div>
</div>
