<!DOCTYPE html>
<html>
  <head>
    <title>Spacer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <!--line below is wrapped by left side div (navbar placing)-->
    <div data-controller="toggle">
    <div class="container-input-left-side-dashboard">
    <%= render "shared/dashboard" %>
    </div>

    <!--line below is wrapped by right side div  (content placing)-->
    <div class="container-input-right-side" data-toggle-target="page">
    <%= yield %>
    </div>
    </div>
  </body>
</html>
