<!DOCTYPE html>
<html>
  <head>
    <title>Spacer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <%= render "shared/flashes" %>
  <div data-controller="toggle">
    <div class="container-input-left-side-dashboard">
    <!--below add if statement that dashboard does not appear when login pages-->
      <%= render "shared/dashboard"  if controller_name != "devise" %>
      <!--if  current_page?(controller: "sessions" action: "new")--->
    </div>
    <div class="container-input-right-side <%= controller_name == "pages" ? "blue-bcg" : "" %>" data-toggle-target="page">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
