<!DOCTYPE html>
<html>
  <head>
    <title>Spacr - Manage your parking space</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "logofav.png", rel: "icon", type: "image/png", width:"128px", height:"128px" %>
    <meta property="og:image" content="https://images.unsplash.com/photo-1604063155785-ee4488b8ad15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80">
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630">
  </head>

  <body>
  <%= render "shared/flashes" %>
  <div data-controller="toggle">
    <div class="container-input-left-side-dashboard">
    <!--below add if statement that dashboard does not appear when login pages-->
    <% if user_signed_in?  && controller_name != "pages"%>
      <%= render "shared/dashboard"  if (controller_name != "devise"  ) %>
    <% end %>
      <!--if  current_page?(controller: "sessions" action: "new")--->
    </div>
    <div class="container-input-right-side <%= controller_name == "pages" ? "blue-bcg" : "" %>" data-toggle-target="page">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
